/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: 'Open Sans', sans-serif;
 }
 
 .container {
   margin:50px;
 }
 
 
 /* Typography */
 
 h1, h2 {
    font-family: 'Love Ya Like A Sister', cursive;
 }
 
 h1 {
    color: #e8c04f;
    text-align: center;
    /* background: url(../image/header-divider.png) no-repeat center center; */
 }
 
 h1 em {
 color: #4b2707;
 text-align: center;
 }
 
 h2 {
color: #e8c04f;

 }
 
 h3 {
   margin-left: 200px;
   margin-right: 200px;
 }
 
 p.lead {
 font-size: 25px;
 text-align: center;
 }
 
 p {
  
 }
 
 a:link, a:visited {
    color: #e8c04f;
    text-decoration: none;
 }
 
 a:hover {
 color:#4b2707;
 }
 
 hr {
   height: 50px;
   border: none;
        background-image: url(../image/divider.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto 100%;
      
       
 }
 
 
 /* Header */
 
 header nav {
    padding: 0; margin: 0;
    padding: 0; margin: 0;
    text-align: center; 
    font-weight: bold; 
 }
 
 header nav ul {
 list-style: none;
 
 }
 
 header nav ul li {
    display: inline;
    list-style: none;
    text-decoration: none;
 }
 
 header nav ul li a {
    display:inline-block;
	margin: 0 30px;
 }
 
 header nav ul li a:hover {
 color: #4b2707;
 }
 
 header nav ul li#logo a {
   
background: url(../image/logo.png) no-repeat center center;
width: 160px;
height: 141px;


 }
 
 header nav ul li#logo a:hover {
    
   background: url(../image/logo-hover.png) no-repeat center center;
width: 160px;
height: 141px;
  }
 
 
 /* Hero */
 
 #hero {
 background: #e8c04f;
z-index: -1;
 }
 
 #hero .container {
 text-align: center;
 }
 
 #hero .large-ribbon {
 background-image: url(../image/fresh-whole-ingredients.png);
 background-repeat: no-repeat;
 position: absolute ;
 top: 500px;
 z-index: 2;
 }
 
 
 /* The Whole Story */
 
 #story-excerpt {

   float: left;


 }
 #best-donut {
    background: url(../image/award.png) no-repeat left ;
    float: left;
 
  
 }

 
 /* News & Events */
 
 #articles {
float: left;
width: 300px;
 }
 
 #feature-image {
   margin-left: 200px;
 }
 
 #news-events article {
   background: url(../image/icon-calendar.png) no-repeat;
 }
 
 #news-events article.news {
 background: url(../image/icon-news.png) no-repeat;
 }
 
 #news-events article.event {
 
 }
 
 #news-events header time {
 
 }
 
 #news-events section.excerpt {
 
 }
 
 #news-events footer {
 
 }
 
 
 /* Footer */
 
 footer.main {
 background: #4b2707;
 }
 
 footer.main a:hover {
 
 }
 
 #uncopyright, #credits {
 
 }
 
 #uncopyright {
 
 }
 
 #credits {
 
 }
 
 
 /* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */
 
 .clearfix:after {
     visibility: hidden;
     display: block;
     content: "";
     clear: both;
     height: 0;
     }
 * html .group             { zoom: 1; } /* IE6 */
 *:first-child+html .group { zoom: 1; } /* IE7 */
 
 
 